.fw {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  border: 1px solid #eff0f7;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;

  &__body {
    display: flex;
    flex-direction: column;

    &__list {
      margin-top: 0;
      position: relative;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none !important;

      li {
        padding: 1.5rem;
        .fw-icon-circle {
          display: flex;
          align-items: center;
          justify-content: center;

          background: $icon-grey;
          color: $icon-text;

          width: 48.89px;
          height: 48px;
          border-radius: 50%;
        }
      }
      li,
      .fw_list_wrapper {
        flex: 1;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 1;
      }
      .fw_list_wrapper {
        display: flex;
      }
      > li > .fw_list_wrapper {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        color: #6f6c90;
        position: relative;
        top: 3px;
      }
      li:last-child {
        .fw-step-progress {
          display: none;
        }
      }
    }
  }
  &-step-progress {
    width: 140px;
    height: 8px;
    position: absolute;
    right: -70px;
    z-index: 2;
    background: #eff0f7;
    border-radius: 40px;
    top: 50%;

    &-active {
      background: $progress-active;
    }
  }

  &-step-active {
    background: $btn-bg !important;
    color: $white-color !important;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  &__btn {
    padding: 20px 40px 21px;
    background: $btn-bg;
    box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
    border-radius: 56px;
    gap: 8px;
    border: none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    text-align: center;
    color: #ffffff;

    &-back {
      background: $btn-back-bg !important;
      border: none;
    }
  }
  &-vertical {
    flex-direction: row;

    .fw__body__content {
      padding: 60px;
      width: 100%;
    }
    ul {
      flex-direction: column;

      li {
        padding: 60px 0;
      }
      .fw-step-progress {
        width: 8px;
        height: 60px;
        right: 20px;
        top: 120px;
      }
    }
  }
}
