.fw {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  border: 1px solid #eff0f7;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;

  &__body {
    display: flex;
    flex-direction: column;

    .fw-icon-circle {
      background: $icon-grey;
      width: 48.89px;
      height: 48px;
      border-radius: 50%;
      color: $icon-text;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: '';
        width: 40%;
        background: rgba(55, 235, 235, 0.5);
        position: absolute;
        height: 4px;
        left: 75%;
        z-index: 2;
      }
    }

    li:last-child {
      .fw-icon-circle:after {
        display: none;
      }
    }

    &__list {
      margin-top: 0;
      position: relative;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none !important;

      li,
      a {
        flex: 1;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 1;
      }
      a {
        display: flex;
      }
      > li > a {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        color: #6f6c90;
        position: relative;
        top: 3px;
        &:hover,
        &:focus {
          background-color: transparent;
          color: #6f6c90;
          outline: 0 !important;
        }
        &.disabled {
          pointer-events: none;
          cursor: default;
        }
      }

      > li.active > a,
      > li.active > a:hover,
      > li.active > a:focus {
        background-color: transparent;

        .fw-icon-circle {
          background: $btn-bg;
          color: $white-color;
        }
      }

      ul li:after {
        font-size: 13px;
        color: #88857d;
        width: 100%;
        display: block;
      }
    }
  }

  &-step-active {
    background: $btn-bg !important;
    color: $white-color !important;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  &__btn {
    padding: 20px 40px 21px;
    background: $btn-bg;
    box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
    border-radius: 56px;
    gap: 8px;
    border: none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    text-align: center;
    color: #ffffff;

    &-back {
      background: $btn-back-bg !important;
      border: none;
    }
  }
}
