$icon-bg: #f3f2ee !default;
$btn-bg: linear-gradient(90deg, #4a3aff 0%, #6d3aff 100%) !default;
$btn-back-bg: #6f6c90 !default;
$white-color: #ffffff !default;
$icon-grey: #eff0f7 !default;
$icon-text: #6f6c90 !default;
